@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.bird-data {
    /* width: 100vw */
}

.bird-data h2 {
    font-family: 'Cardo', serif;
}


.bird-list {
    /* width: 80vw; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background: linear-gradient(180deg, rgba(237,237,237,0) 80%, rgba(214, 214, 214, 0.29597776610644255) 100%);
}

.bird-list p:hover {
    color: #1B7A9E;
}

.bird-fact {
    margin-top: -13em;
    font-family: 'Yantramanav', sans-serif;
    border-radius: 5px;
    max-height: 85vh
}

::-webkit-scrollbar {
    scrollbar-color: orange;
    border-radius: 10px;
    width: 7px;
    height: 2px;
}

@media (orientation: portrait) {
    .bird-data-container h2 {
        width: 90%;
    }

    .bird-list {
        font-size: 1.3rem;
        width: 90%;
        cursor: pointer;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        
    }

    .bird-image {
        max-width: 90%;
    }
}